html {
    font-family: sans-serif;
    font-size: 14px;
    background-color: white;
    color: black;
}
html, body {
    margin: 0;
    padding: 0;
}
a, a:link, a:visited {
    color: #de1515;
    text-decoration: underline;
}
    a:hover {
        background-color: #f4e3e3;
        color: #de1515;
        text-decoration: none;
    }
img {
    border: 0;
}
.status img {
    vertical-align: bottom;
}
h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 26px;
}
hr {
    border: none 0;
    border-top: 1px dashed #CCC;
    height: 1px;
}
pre {
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 15px;
    padding: 10px 15px;
}
#header {
    overflow: visible;
    height: 62px;
}
    #header h1 {
        width: 156px;
        min-height: 46px;
        margin: 0 0 0 -12px;
        padding: 30px 0 0 0;
        color: white;
        font-weight: normal;
        font-size: 22px;
        text-align: center;
        background: transparent url('../img/title-thingie.png') 0 0 no-repeat;
    }
    #header .info {
    }
        #header .info p {
            float: left;
            margin: 0;
            padding-top: 35px;
            margin: 0 25px;
        }
            #header .info p.is_what {
                font-style: oblique;
                margin-left: -25px;
            }
#banner {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background: transparent url('../img/banner-bg.png') 0 0 repeat;
    padding: 10px 0;
}
    #banner .hero {
        background: url('../img/chariot.png') 100% 100% no-repeat;
        height: 270px;
    }
        #banner .hero .lead {
            font-size: 18px;
            line-height: 1.3em;
        }
    #banner h2, #banner h3 {
        font-weight: normal;
    }
    #banner h2 {
        margin: 30px 0 15px;
        font-size: 40px;
    }
    #banner p {
        color: #353535;
    }
#body {
}
    #body .grid_12 p,
    #body .grid_12 pre {
        width: 560px;
    }
    #body .text p {
        color: #646464;
        line-height: 1.4em;
    }
    #body .text h2 {
        margin: 20px 0 10px;
    }
    #body .sidebar {
        color: #646464;
        line-height: 1.4em;
        padding: 10px 15px;
    }
        #body .sidebar h3 {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 10px;
        }
    #body .download {
        background-color: #f3f3f3;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 20px;
        padding: 8px;
    }
        #body .download h2 {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 10px;
        }
        #body .download p {
            color: #646464;
        }
        #body .download .get_it {
            display: block;
            background: #2b303d url('../img/download-arrow.png') 14px 10px no-repeat;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            padding: 8px 20px 8px 40px;
            color: white;
            text-decoration: none;
        }
#footer {
    border-top: 1px solid #e3e3e3;
}
    #footer .technologies {
        text-align: right;
        padding-top: 12px;
    }
    #footer .copyright {
        color: #777;
        font-size: 12px;
        vertical-align: top;
    }
.hint {
    color: #777;
    font-size: 12px;
}
.google-groups span {
    color: #777;
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
    width: 108px;
}
.twitter span {
    color: #777;
    vertical-align: top;
}
    .twitter a, .google-groups a {
        text-decoration: none;
    }
    .twitter a:hover, .google-groups a {
        background: none;
    }
    .twitter img {
        margin: 0 8px;
    }
