<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-PL" lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Satchless Demo Store{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% trans "For Python perfectionists with real deadlines" %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body id="{% block body-id %}{% endblock %}" class="{% block body-class %}{% endblock %}">

{% block top-bar %}
    <div id="header" class="container_24">
        <a class="logo grid_3" href="{% url home-page %}"><img src="{{ STATIC_URL }}img/logo.png" alt="{% trans "Satchless Demo" %}" /></a>
        <ul class="menu grid_15">
{% for category in root_categories %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                <ul class="submenu">
    {% for child in category.get_children %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
    {% endfor %}
                </ul>
            </li>
{% endfor %}
            <li class="sale">
                <a href="{% url sale %}">SALE</a>
            </li>
            <li class="about-us">
                <a href="{# url sale #}">About us</a>
            </li>
            <li class="contact">
                <a href="{# url sale #}">Contact</a>
            </li>
        </ul>
        <div class="shortcuts grid_6">
            <form class="search" method="get" action="{% url satchless-search-haystack-predictive %}"><input class="q" type="text" name="q" value="{{ request.GET.keywords }}" /><input class="submit" type="submit" value="Search" /></form>
            <form action="/i18n/setlang/" method="post" class="languages">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}">{{ language.name_local }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
                <input type="hidden" value="/" name="next" />
            </form>
            <div class="carts">
                <a class="wishlist" href="{% url wishlist:details %}">{{ wishlist_size|floatformat:0 }}<img src="{{ STATIC_URL }}img/icons/wishlist.png" alt="wishlist" /></a>
                <a href="{% url cart:details %}">{{ cart_size|floatformat:0 }}<img src="{{ STATIC_URL }}img/icons/cart.png" alt="cart" /></a>
            </div>
        </div>
        <div class="grid_24">
            <hr/>
        </div>
        <div class="clear"></div>
    <div>
{% if messages %}
        <div id="messages" class="grid_10"><span class="tip"></span>
    {% for m in messages %}
            <div class="message {{ m.tags }}">{{ m|safe }}</div>
    {% endfor %}
        </div>
{% endif %}
    </div>

    </div> {# #header #}
{% endblock %}

<div id="breadcrumbs" class="container_24">
    <ul class="grid_24 {% block breadcrumbs-class %}{% endblock %}">
{% block breadcrumbs %}
{% endblock %}
    </ul>
    <div class="clear"></div>
</div>

<div id="content" class="container_24">
    <div class="grid_24">
{% block content %}
{% endblock %}
    <div class="clear"></div>
    </div>
</div> {# #content #}

<div id="content" class="container_24">
    <div class="grid_24 footer">
        <div class="info">
            <div class="contact">
                IF YOU NEED GREAT, FAST &amp; MODERN ECOMMERCE SOLUTION OR CONSULTING <a href="http://mirumee.com/contact">TALK TO US</a><br />
                <span class="quality">Best quality guarantee</span>
            </div>
            <div class="copyright">
                Copyright © 2009-2011 Mirumee Labs. <br />
                <a href="http://mirumee.com"><img class="motto" src="{{ STATIC_URL }}img/motto.png" alt="Mirumee Software - We build WebApps. Better" /></a>
            </div>
        </div>
    </div>
</div>

{% block extra-body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script>
    $(function() {
        $('#messages').fadeIn('slow');
        var hide = setTimeout("hideCallback()", 6000);
    });
    var hideCallback = function() {
        $('#messages').fadeOut('slow');
    }
</script>
{% endblock %}
</body>
</html>
