{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% block checkout %}
    {% if order %}
    <form method="post" action="">{% csrf_token %}
        <h2>{% trans "Billing address" %}</h2>
        {{ billing_form }}
        {{ shipping_formset.management_form }}
        {% for form in shipping_formset.forms %}{% with form.instance as group %}
            <h2>{% trans "Shipping address" %}:</h2>
          {% if order.groups.count > 1 %}
            <h3>{% trans "Delivery group" %}:</h3>
            <ul>
            {% include 'satchless/checkout/snippets/delivery_group.html' %}
            </ul>
          {% endif %}
            {{ form.as_p }}
        {% endwith %}{% endfor %}
    <button type="submit">{% trans "Proceed" %}</button>
    </form>
    {% else %}
    <p>
    {% blocktrans %}
    Profound emptiness is gazing at you from the bottom of the cart. You turn back swiftly and
    <a href="/">continue shopping</a>.
    {% endblocktrans %}
    {% endif %}
{% endblock %}
