{% extends 'satchless/order/base.html' %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Delivery details" %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="">{% trans "Order (business)" %}</a></li>
{% endblock %}
{% block content %}
    <h1>{% trans "Delivery details" %}</h1>
    <form method="post" action="">{% csrf_token %}
        {% for group, delivery_type, form in delivery_group_forms %}
        <h2>{% trans "Delivery method" %}: {{ delivery_type.name }}</h2>
        <h3>{% trans "Items deliverd using this method" %}:</h3>
        <ul>
        {% include 'satchless/checkout/snippets/delivery_group.html' %}
        </ul>
        <h3>{% trans "Delivery details" %}:</h3>
        {{ form.as_p }}
        {% endfor %}
        <button type="submit">{% trans "Proceed" %}</button>
    </form>
{% endblock %}
