{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% block checkout %}
    <h2>{% trans "Choose delivery method" %}:</h3>
    <form method="post" action="">{% csrf_token %}
        {{ delivery_formset.management_form }}
        {% for form in delivery_formset.forms %}{% with form.instance as group %}
          {% if order.groups.count > 1 %}
            <h3>{% trans "Delivery group" %}:</h3>
            <ul>
            {% include 'satchless/checkout/snippets/delivery_group.html' %}
            </ul>
          {% endif %}
            {{ form.as_p }}
        {% endwith %}{% endfor %}
    <button type="submit">{% trans "Proceed" %}</button>
    </form>
{% endblock %}
