{% extends 'satchless/cart/base.html' %}
{% load cart_prices %}
{% load i18n %}
{% load prices %}
{% load product_prices %}
{% load promote %}

{% block title %}{% trans "Shopping Bag" %} || {{ block.super }}{% endblock %}
{% block body-class %}{{ block.super }} cart{% endblock %}

{% block breadcrumbs %}
    <li class="active">
        1. {% trans "Cart" %}
    </li>
    <li>
        2. {% trans "Delivery" %}
    </li>
    <li>
        3. {% trans "Payment" %}
    </li>
    <li class="confirmation">
        <span>3. {% trans "Great success!" %}</span>
    </li>
{% endblock %}

{% block content %}

{% if cart_item_forms %}
    <table class="cart-contents">
        <col class="image" />
        <col class="name" />
        <col class="price" />
        <col class="qty" />
        <col class="total" />
        <thead>
            <tr>
                <th class="image"></th>
                <th class="name">{% trans "Description" %}</th>
                <th class="price">{% trans 'Unit Price' %}</th>
                <th class="qty">{% trans 'Quantity' %}</th>
                <th class="total">{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
    {% cart_total_price cart as cart_total %}
    {% for form in cart_item_forms %}
        {% with form.instance as cart_item %}
        {% cartitem_unit_price cart_item as unit_price %}
        {% cartitem_unit_price cart_item discount=0 as undiscounted_unit_price %}
        {% cartitem_price cart_item as item_price %}
        {% cartitem_price cart_item discount=0 as undiscounted_item_price %}
        {% promote cart_item.variant as variant %}
        {% with cart.currency as currency %}
        {% include "satchless/cart/snippets/row.html" %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
        </tbody>
        <tfoot>
            <tr class="checkout">
                <td class="product-price" colspan="5">
                    <span class="fullprice">{% gross cart_total %}</span>
                </td>
            </tr>
            <tr class="checkout">
                <td colspan="5">
                <form action="{% url checkout:prepare-order %}" method="post">
                    {% csrf_token %}
                    <button class="button" type="submit"><span>{% trans "Go to checkout" %}</span></button>
                </form>
                </td>
            </tr>
        </tfoot>
    </table>
{% else %}
<p class="no-items">
    {% trans "Your shopping bag is empty." %}
</p>
{% endif %}
{% endblock %}
