{% extends 'satchless/cart/base.html' %}
{% load i18n promote %}
{% block title %}{% trans "My cart" %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="">{% trans "My cart" %}</a></li>
{% endblock %}
{% block content %}
    <h1>{% trans "My cart" %}</h1>
    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans "Item" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset.forms %}
            {{ form.id }}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% promote form.instance.variant as variant %}{{ variant }}</td>
                <td>{{ form.quantity }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button type="submit">{% trans "Save" %}</button>
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
{% endblock %}
