{% extends 'satchless/cart/base.html' %}
{% load i18n promote prices product_prices cart_prices %}
{% block title %}{% trans "My cart" %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="">{% trans "My cart" %}</a></li>
{% endblock %}
{% block content %}
    <h1>{% trans "My cart" %}</h1>
    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans "Item" %}</th>
                <th>{% trans "Unit price" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset.forms %}
            {{ form.id }}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% promote form.instance.variant as variant %}
                    <a href="{% url satchless-product-product variant.product.slug variant.product.pk %}">{{ variant }}</a>
                </td>
                <td class="numerical">
                    {{ form.instance|cartitem_unit_price|gross|floatformat:2 }}<br />
                    <span class="netPrice">{{ form.instance|cartitem_unit_price|gross|floatformat:2 }}</span>
                </td>
                <td class="numerical">&times; {{ form.quantity }}</td>
                <td class="numerical">
                    = {{ form.instance|cartitem_price|gross|floatformat:2 }}<br />
                    <span class="netPrice">{{ form.instance|cartitem_price|gross|floatformat:2 }}</span>
                </td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">{% trans "Total" %}:</th>
                <td class="numerical">
                    {{ cart|cart_total|gross|floatformat:2 }}<br />
                    <span class="netPrice">{{ cart|cart_total|gross|floatformat:2 }}</span>
                </td>
                <td></td>
            <tr>
                <td colspan="5">
                    <button type="submit">{% trans "Save" %}</button>
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
{% endblock %}
