{% extends 'satchless/contact/base.html' %}
{% load i18n %}
{% block title %}{% trans "My contact data" %}{% endblock %}
{% block content %}
    <h1>{% trans "My contact data" %}</h1>
    <p>{% trans "Email" %}: {{ customer.email }}</p>
    <h2>{% trans "Addresses" %}</h2>
    {% if customer.address_set.count %}
        <ul>
            {% for address in customer.address_set.all %}
            <li>
            {{ address.full_name }}{% if address.company_name %}, {{ address.company_name }}{% endif %}<br />
            {{ address.street_address_1 }}<br />
            {% if address.street_address_2 %}{{ address.street_address_2 }}<br />{% endif %}
            {{ address.city }}, {{ address.postal_code }}
            {{ addresss.country }}
            {% if address.tax_id %}<br />{{ address.tax_id }}{% endif %}

            {% if address == address.customer.billing_address %}
            ({% trans "default billing address" %})
            {% endif %}
            {% if address == address.customer.shipping_address %}
            ({% trans "default shipping address" %})
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
        {% trans "You have no address defined." %}
        <a href="{% url satchless.contact.views.address_new %}">{% trans "Add a new one." %}</a>
        </p>
    {% endif %}
{% endblock %}
