<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load core_tags %}
{% load i18n %}
{% load localeurl_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-PL" lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Gulliver{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% trans "Gulliver not dead!" %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body id="{% block body-id %}{% endblock %}" class="{% block body-class %}{% endblock %}">

{% block top-bar %}
    <div id="header">
        <a class="logo" href="{% url home-page %}"><img src="{{ STATIC_URL }}img/logo.png" alt="{% trans "Satchless Demo" %}" /></a>
        <ul class="menu">
{% with 'mens,womens'|get_categories as menu_categories %}
            <li class="mens">
                <a href="{% url satchless-product-category 'mens' %}">MEN'S</a>
                <ul class="submenu">
    {% for child in menu_categories.mens.get_children %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
    {% endfor %}
                </ul>
            </li>
            <li class="womens">
                <a href="{% url satchless-product-category 'womens' %}">WOMEN'S</a>
                <ul class="submenu">
    {% for child in menu_categories.womens.get_children %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
    {% endfor %}
                </ul>
            </li>
{% endwith %}
            <li class="sale">
                <a href="{% url sale %}">SALE</a>
            </li>
            <li class="about-us">
                <a href="{# url sale #}">ABOUT US</a>
            </li>
            <li class="contact">
                <a href="{# url sale #}">CONTACT</a>
            </li>
        </ul>
        <div class="shortcuts">
            <form class="search" method="get" action="{% url satchless-search-haystack-predictive %}">
                <input class="q" type="text" name="q" value="{{ request.GET.keywords }}" />
                <input class="submit" type="submit" value="Search" />
            </form>
            <ul class="languages">
            {% spaceless %}
{% for lang in LANGUAGES %}
                <li class="{% if forloop.first %}first{% endif %}">{% if lang.0  == LANGUAGE_CODE %}{{ lang.1 }}{% else %}<a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a>{% endif %}</li>
{% endfor %}
            {% endspaceless %}
            </ul>
            <div class="carts">
                    <a class="whishlist" href="{% url satchless-cart-view %}">10{% if cart_count %}{{ cart_count|floatformat }}{% endif %}<img src="{{ STATIC_URL }}img/icons/whishlist.png" alt="whish list" /></a>
                    <a id="cart" href="{% url satchless-cart-view %}">8{% if cart_count %}{{ cart_count|floatformat }}{% endif %}<img src="{{ STATIC_URL }}img/icons/cart.png" alt="cart" /></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% comment %}
    <div id="top-bar" class="container_4">
        <div class="clear"></div>
        <div class="grid_3">
        </div>
        <div class="grid_1 omega right-menu">

        </div>
        <div class="clear"></div>
        <div class="grid_4">
            <hr />
        </div>
        <div class="clear"></div>
    </div> {# top-bar #}
    {% endcomment %}
    {% comment %}
    <div class="container_4">
    {% if messages %}
    <div id="messages" class="grid_3 prefix_1">
        {% for m in messages %}
            <div class="message {{ m.tags }}">{{ m|safe }}</div>
        {% endfor %}
    </div>
    {% else %}
    <div id="messages" class="grid_3 prefix_1 placeholder"></div>
    {% endif %}
    <div class="clear"></div>
    </div>
    {% endcomment %}
{% endblock %}

<div id="content">
    <div class="container_4">
{% if messages %}
        <div id="messages" class="grid_3 prefix_1">
    {% for m in messages %}
            <div class="message {{ m.tags }}">{{ m|safe }}</div>
    {% endfor %}
        </div>
{% else %}
        <div id="messages" class="grid_3 prefix_1 placeholder"></div>
{% endif %}
    </div>
{% block breadcrumbs %}
{% endblock %}

{% block content %}
{% endblock %}
    <div class="clear"></div>
</div> {# #page #}

{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% block extra-body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
{% endblock %}
</body>
</html>
