/* gray: #000, #474747, #6e6e6e, #a9a9a9, #c1c1c1
 * yellow: #fbf839, #fffe88
 * border colors: #dcdcdc
 */
html {
    background: #f7f7f7;
    color: #474747;
}
body {
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    border:0;
    border-top: 1px dashed #CCC;
    margin: 10px 0 15px;
}
a {
    color: #0072bc;
}
.no-items {
    color: #dcdcdc;
    font-weight: bold;
    padding: 0 10px;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform(-1deg);
}
.button {
    background: #fbf839;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}
input.wishlist,
.button.cart {
    background-image: url(../img/icons/cart.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 10px 10px 10px 45px;
}
input.wishlist {
    background-color: transparent;
    background-image: url(../img/icons/wishlist.png);
    border: 0 none;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 10px 10px 45px;
}

#header {
    color: #474747;
    margin-bottom: 0;
}
#header a {
    color: #474747;
    position: relative;
}
    #header .logo {
    }
        #header .logo img {
            border: 0 none;
        }
    #header ul.menu {
        float: left;
        margin-top: 5px;
        margin-top: 5px;
        padding: 0;
    }
        #header .menu li {
            font-weight: bold;
            float: left;
            list-style: none;
            margin-right: 20px;
        }
            #header .menu li a {
                text-decoration: none;
            }
            #header .menu li.contact a,
            #header .menu li.about-us a {
                color: #a9a9a9;
            }
            #header .menu li.about-us a {
                border-left: 1px solid #a9a9a9;
                padding-left: 20px;
            }
                #header .menu li ul.submenu {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                    #header .menu li ul.submenu li {
                        float: none;
                        font-size: 12px;
                        font-weight: normal;
                        margin: 4px 0 0;
                    }
                        #header .menu li ul.submenu li a {
                            color: #6e6e6e;
                        }
    #header .shortcuts {
        float: right;
    }
        #header .shortcuts .languages {
            font-size: 10px;
            margin: 20px 0;
            padding: 0;
            text-align: right;
        }
            #header .shortcuts .languages li {
                border-left: 1px solid #474747;
                display: inline;
                list-style: none;
                padding-left: 5px;
                text-transform: uppercase;
                margin-left: 5px;
            }
            #header .shortcuts .languages li.first {
                border-left: 0 none;
            }
                #header .shortcuts .languages li a {
                    text-decoration: none;
                }
        #header form.search {
            background: #fff;
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            -moz-border-radius: 4px;
            font-size: 16px;
            width: 228px;
        }
            #header form.search input.q {
                border: 0 none;
                padding-left: 5px;
                font-size: 16px;
                width: 145px;
            }
            #header form.search input.q:focus {
                outline: none;
            }
            #header form.search input.submit {
                background: #474747;
                border: 0 none;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #f7f7f7;
                font-size: 16px;
                margin: 1px;
                padding: 3px 7px;
                width: 76px;
            }
            #header form.search input.submit:hover {
                cursor: pointer;
            }
        #header .shortcuts .carts {
            text-align: right;
        }
            #header .shortcuts .carts a {
                font-size: 16px;
                font-weight: bold;
                margin-left: 10px;
                text-decoration: none;
            }
                #header .shortcuts .carts a img {
                    border: 0 none;
                    margin-left: 7px;
                    vertical-align: middle;
                }
#messages {
    background: #e7ffd7;
    -moz-box-shadow: 4px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px rgba(0,0,0,0.2);
    color: #285500;
    display: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 14px;
    padding: 8px 15px;
    position: absolute;
    text-shadow: white 0px 1px 0px;
    top: 120px;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform(-1deg);
    width: auto;
    z-index: 9999;
}
    #messages .tip {
        background: url(../img/thingy.png) 0 0 no-repeat;
        display: block;
        position: absolute;
        height: 20px;
        top: -16px;
        left: 44px;
        width: 17px;
        z-index: 9999;
    }
#breadcrumbs {
    color: #c1c1c1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
    #breadcrumbs ul {
        list-style: none;
        padding: 0;
    }
        #breadcrumbs ul li {
            background: #fff;
            border: none;
            display: inline-block;
            margin-right: 2px;
            padding: 6px 10px 6px 20px;
            width: 160px;
        }
        #breadcrumbs ul li.active {
            background: #fffe88;
            color: #5b5b5b;
        }
            #breadcrumbs ul li a {
                color: #c1c1c1;
                display: inline-block;
                height: 100%;
                text-decoration: none;
                width: 100%;
            }
            #breadcrumbs ul li a:hover {
                text-decoration: underline;
            }
        #breadcrumbs ul li.confirmation {
            background: transparent;
            background: url(../img/confirmation-arrow.png) left no-repeat;
            padding: 0 0 0 20px;
        }
            #breadcrumbs ul li.confirmation span {
                background: #fff;
                display: inline-block;
                height: 100%;
                padding: 6px 10px 6px 20px;
                width: 100%;
            }
            #breadcrumbs ul li.confirmation.active span {
                background: #fffe88;
            }
.sale, .product-details {
}
    .sale .sidebar, .product-details .sidebar,
    .wishlist .products ul li .sidebar {
        padding: 15px;
        text-align: right;
        height: 280px;
        border: 1px solid #dcdcdc;
        border-left: 1px dashed #dcdcdc;
        background: #f0f0f0;
    }
        .sale .sidebar .categories {
            padding: 0;
            margin: 0;
        }
            .sale .sidebar .categories li {
            }
                .sale .sidebar .categories li a {
                    color: #a9a9a9;
                    font-weight: bold;
                    text-decoration: none;
                }
/* product price view: wishlist + product view */
.product-price {
}
    .product-price .fullprice {
        font-size: 1.6em;
        font-weight: bold;
        margin-right: 4px;
    }
        .product-price .fullprice .currency {
            font-size: 0.5em;
        }
    .product-price .currency {
        font-size: 0.8em;
        font-weight: normal;
    }
    .product-price .strike {
        font-size: 1em;
        text-decoration: line-through;
    }
    .product-price .info {
        color: #a9a9a9;
        font-size: 0.8em;
        margin-top: 5px;
    }
    .product-description {
        color: #474747;
        height: 150px;
    }
        .product-description h1,
        .product-description h2 {
            color: #000;
            font-size: 16px;
            margin-top: 5px;
        }
            .product-description h2 a {
                color: #000;
                text-decoration: none;
            }
        .product-description .manufacture {
            color: #6e6e6e;
            font-size: 14px;
        }
        .product-description .variant-attrs {
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
            .product-description .variant-attrs li {
                height: auto;
                list-style: none;
                margin-bottom: 5px;
                text-align: left;
            }
.footer {
}
    .footer .info {
        background: #fff;
        border-top: #dcdcdc 1px solid;
        margin-top: 30px;
        padding: 25px;
    }
        .footer .info .contact {
            background: url(../img/logo-mirumee.png) left 2px no-repeat;
            color: #474747;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 35px;
            padding-left: 35px;
        }
            .footer .info .contact a {
                background: #fbf839;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #474747;
                padding: 3px;
                text-decoration: none;
            }
            .footer .info .contact .quality {
                font-size: 12px;
                font-weight: normal;
            }
        .footer .info .copyright {
            background: url(../img/clipart.png) 50% top no-repeat;
            color: #6e6e6e;
            font-size: 12px;
            padding-top: 34px;
            text-align: center;
        }
            .footer .info .copyright img.motto {
                border-width: 0;
                margin-top: 10px;
            }
body.store.product {
}
    body.store.product #content {
    }
        body.store.product #content .main-photo {
            background: #fff;
            border: 1px solid #dcdcdc;
            height: 310px;
        }
            body.store.product #content .main-photo img {
                border: 0 none;
                margin: 0 auto;
            }
        body.store.product #content form {
        }
            body.store.product #content form .product-details {
                background: #fff;
                border: 1px solid #dcdcdc;
                color: #474747;
                font-size: 14px;
            }
                body.store.product #content form .product-info,
                body.store.product #content form .sidebar {
                    padding: 15px;
                    float: left;
                }
                    body.store.product #content form .product-info {
                        width: 337px;
                    }
                    body.store.product #content form .sidebar {
                        border-width: 0 0 0 1px;
                        width: 230px;
                    }

            /*
            body.store.product #content form .product-info {
                height: 280px;
                padding: 15px;
            }
                body.store.product #content form .product-info .product-description {
                    float: left;
                }
                    body.store.product #content form .product-info .product-description #id_quantity {
                        width: 2em;
                        text-align: right;
                    }
            body.store.product #content form .add-to-cart {
                text-align: right;
            }
                body.store.product #content form .add-to-cart .text {
                    color: #6e6e6e;
                    text-align: left;
                }
            */
        body.store.product #content .thumbs {
        }
            body.store.product #content .thumbs a {
                margin-top: 5px;
            }
                body.store.product #content .thumbs a img {
                    border: 1px solid #dcdcdc;
                }

body.store.checkout.thank-you {
}
    body.store.checkout.thank-you #content .main.container {
        background: #e7ffd7;
        border: 1px solid #cacab2;
        color: #285500;
    }
body.store.checkout, body.store.order {
}
    body.store.checkout #content,
    body.store.order #content {
    }
        body.checkout #content .container,
        body.order #content .container {
            background: #fff;
            border: 1px solid #dcdcdc;
            padding: 15px;
        }
body.store.checkout {
}
        body.store.checkout #content .container h1 {
            font-size: 20px;
            margin-top: 0;
        }
        body.checkout #content .container form {
        }
            body.checkout #content .container form table tbody th {
                font-size: 15px;
                font-weight: normal;
                text-align: right;
            }
                body.checkout #content .container form table tbody th .required {
                    color: #c00005;
                }
            body.checkout #content .container form table tbody td {
                padding: 5px;
            }
                body.checkout #content .container form table tbody td input {
                    border: 1px solid #bfbfbf;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    padding: 5px;
                }
            body.checkout #content .container form table tfoot td {
                padding-top: 30px;
            }
        body.store.checkout #content table.cart-contents {
            border-collapse: collapse;
            width: 100%;
        }
            body.store.checkout #content table.cart-contents col.name {
                width: 300px;
            }
            body.store.checkout #content table.cart-contents col.qty {
                width: 140px;
            }
            body.store.checkout #content table.cart-contents th {
                color: #000;
                font-weight: normal;
            }
            body.store.checkout #content table.cart-contents td {
                padding: 15px 10px 10px;
                vertical-align: top;
            }
            body.store.checkout #content table.cart-contents td.image {
                padding-left: 0;
                padding-top: 10px;
            }
                body.store.checkout #content table.cart-contents td.image a {
                    background: #fff;
                    border: 1px solid #bfbfbf;
                    display: block;
                    text-align: center;
                    width: 158px;
                }
                    body.store.checkout #content table.cart-contents td.image a img {
                        border: 0 none;
                    }
            body.store.checkout #content table.cart-contents td.product-description {
                width: 320px;
            }
            body.store.checkout #content table.cart-contents td.product-price {
                font-size: 16px;
                width: 140px;
                text-align: right;
            }
                body.store.checkout #content table.cart-contents td.product-price .amounts {
                    display: inline-block;
                    margin-right: 3px;
                }
                    body.store.checkout #content table.cart-contents td.product-price .amounts .fullprice {
                        margin: 0;
                    }
            body.store.checkout #content table.cart-contents td.qty {
                padding-top: 20px;
            }
                body.store.checkout #content table.cart-contents td.qty .errorlist {
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                }
                body.store.checkout #content table.cart-contents td.qty input {
                    text-align: right;
                    width: 3em;
                }
            body.store.checkout #content table.cart-contents td.total {
                padding-right: 0;
            }
            body.store.checkout #content table.cart-contents th {
                border-bottom: 1px solid #858584;
                padding: 10px;
                text-align: left;
            }
                body.store.checkout #content table.cart-contents th.total {
                    padding-right: 0;
                }
            body.store.checkout #content table.cart-contents tfoot {
            }
                body.store.checkout #content table.cart-contents tfoot th {
                    border: 0 none;
                }
                body.store.checkout #content table.cart-contents tfoot td {
                }
                    body.store.checkout #content table.cart-contents tfoot td .button {
                        font-weight: normal;
                        white-space: nowrap;
                    }
                        body.store.checkout #content table.cart-contents tfoot td .button span {
                            background: url(../img/go-to-checkout-arrow.png) no-repeat right;
                            padding-right: 30px;
                        }
body.store.checkout .order-preview {
}
    body.store.checkout .order-preview h2 {
        font-size: 16px;
        margin: 5px 0;
    }
    body.store.checkout #content .order-preview table {
        border-collapse: collapse;
        width: 100%;
    }
        body.store.checkout #content .order-preview table th {
            border-bottom: 1px solid #bfbfbf;
            font-size: 10px;
            font-weight: normal;
            padding-right: 5px;
            text-align: center;
        }
        body.store.checkout #content .order-preview table th.qty {
            text-align: left;
        }
        body.store.checkout #content .order-preview table td {
            font-weight: normal;
            font-size: 12px;
            padding: 5px;
        }
        body.store.checkout #content .order-preview table td.product-price {
            text-align: right;
        }
        body.store.checkout #content .order-preview table td.image {
        }
            body.store.checkout #content .order-preview table td.image img {
                border: 1px solid #bfbfbf;
            }
        body.store.checkout #content .order-preview table td.product-price,
        body.store.checkout #content .order-preview table td.product-price .fullprice {
            font-size: 12px;
            white-space: nowrap;
        }
            body.store.checkout #content .order-preview table td.product-price .fullprice .currency {
                font-size: 0.8em;
            }
    body.store.checkout #content .order-preview table tfoot {
    }
        body.store.checkout #content .order-preview table tfoot th,
        body.store.checkout #content .order-preview table tfoot td {
            border-top: 1px solid #bfbfbf;
            font-size: 11px;
        }
body .sidebar {
    background: #CCC;
}
    body .sidebar h4 {
        color: #FFF;
        font-size: 14px;
        padding: 5px;
        margin: 0;
    }

body .products .product {
    background: #FFF;
    border: 1px solid #dcdcdc;
    height: 297px;
    padding: 5px 5px 0;
    margin-bottom: 10px;
}
    body .products .product .product-photo img {
        border: 0;
    }
    body .products .product .description {
        color: #6E6E6E;
        text-align: center;
        font-size: 12px;
    }
        body .products .product .description .manufacture {
        }
        body .products .product .description h3 {
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 0;
        }
        body .products .product .description .price {
            color: black;
            font-weight: bold;
            padding-top: 5px;
            font-size: 14px;
        }
            body .products .product .description .price .strike {
                font-size: 0.8em;
                text-decoration: line-through;
            }
            body .products .product .description .price .currency {
                font-size: 0.6em;
            }
    body .products .category {
        background: white;
        border: 1px solid #dcdcdc;
        padding: 5px;
    }
        body .products .category h3 {
            margin: 0;
            padding: 5px;
        }
body.store.payment-choice,
body.store.cart {
}
    body.store.payment-choice #content table.cart-contents,
    body.store.cart #content table.cart-contents {
    }
        body.store.payment-choice #content table.cart-contents tfoot tr,
        body.store.cart #content table.cart-contents tfoot tr {
            border-top: 1px solid #474747
        }
            body.store.payment-choice #content table.cart-contents tfoot td,
            body.store.cart #content table.cart-contents tfoot tr td {
                padding: 20px 10px;
                text-align: right;
            }
body.store.wishlist {
}
    body.store.wishlist #sidebar {
        padding: 10px;
    }
    body.store.wishlist .my-account {
        background: #fff;
        color: #474747;
        font-weight: bold;
        padding: 5px 7px;
    }
    body.store.wishlist .products {
        background: #fff;
        color: #474747;
    }
        body.store.wishlist .products .sidebar {
            border-bottom: none;
            height: auto;
            padding: 0;
        }
        body.store.wishlist .products ul {
            margin: 0;
            padding: 0;
        }
            body.store.wishlist .products ul li {
                padding: 0;
            }
            body.store.wishlist .products ul li.product {
                height: 158px;
                list-style: none;
                margin: 0;
                text-align: center;
                border: none;
            }
                body.store.wishlist .products ul li.product .image {
                    border: 1px solid #dcdcdc;
                    border-width: 1px 1px 0;
                    height: 158px;
                    float: left;
                    width: 158px;
                    margin: 0;
                    padding: 0;
                }
                body.store.wishlist .products ul li.product .product-description {
                    border: 1px solid #dcdcdc;
                    border-width: 1px 1px 0 0;
                    height: 138px;
                    padding: 10px;
                    text-align: left;
                    width: 100%;
                }
                body.store.wishlist .products ul li.product .product-price {
                    font-size: 16px;
                    padding: 15px;
                    height: 128px;
                    text-align: right;
                }
                    body.store.wishlist .products ul li.product .product-price input.cart {
                        margin-top: 5px;
                    }
                body.store.wishlist .products ul li.product.last .product-price,
                body.store.wishlist .products ul li.product.last .product-description,
                body.store.wishlist .products ul li.product.last .image {
                    border-bottom: 1px solid #dcdcdc;
                }
