{% extends 'satchless/cart/base.html' %}
{% load cart_prices %}
{% load i18n %}
{% load image_tags %}
{% load prices %}
{% load product_prices %}
{% load products_tags %}
{% load promote %}

{% block title %}{% trans "Shopping Bag" %} || {{ block.super }}{% endblock %}
{% block body-class %}{{ block.super }} wishlist{% endblock %}

{% block content %}
<div class="grid_4 alpha">
    <div class="sidebar">
        <h4>{% trans "Wishlist" %}</h4>
    </div>
</div>
<div class="grid_20 omega">
{% if cart_item_forms %}
    <div class="products">
        <ul>
    {% for add_to_cart_form in cart_item_forms %}
        {% with add_to_cart_form.product as product %}
        {% promote product as product %}
            <li class="product{% if forloop.last %} last{% endif %}">
                <div class="grid_4 alpha">
                    <div class="image">
                        <img src="{{ product.main_image|at_size_with_fallback:'cart-product' }}" />
                    </div>
                </div>
                <div class="grid_11">
                    <div class="product-description">
                    {% if product.make %}
                        <span class="manufacture">{{ product.make }}</span>
                    {% endif %}
                        <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ add_to_cart_form.as_p }}
                            <input class="cart" name="satchless_cart" type="submit" value="{% trans "Add to cart" %}" />
                        </form>
                    </div>
                </div>
                <div class="grid_5 omega">
                    <div class="sidebar">
                        <div class="product-price">
                {% product_price_range product as price_range %}
                {% product_price_range product discount=0 as undiscounted_price_range %}
                {% if price_range.min != price_range.max %}
                    {% if price_range.min != undiscounted_price_range.min or price_range.max != undiscounted_price_range.max %}
                            <span class="strike">{% gross undiscounted_price_range.min_price %} - {% gross undiscounted_price_range.max_price %}</span>
                    {% endif %}
                            <span class="fullprice">{% gross price_range.min_price %} - {% gross price_range.max_price %}</span>
                {% else %}
                    {% if price_range.max != undiscounted_price_range.max %}
                            <span class="strike">{% gross undiscounted_price_range.max_price %}</span>
                    {% endif %}
                            <span class="fullprice">{% gross price_range.min_price %}</span>
                {% endif %}
                            <p class="info">
                                Inclusive VAT <br />
                                Exclusive shipping costs<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        {% endwith %}
    {% endfor %}
        </ul>
    </div>
{% else %}
    <p class="no-items">
        {% trans "Your wishlist is empty" %}
    </p>
{% endif %}
</div>
{% endblock %}

