{% load i18n %}
{% load prices %}
{% load products_tags %}
{% for group in order.groups.all %}
<table class="cart-contents">
    <col class="image" />
    <col class="name" />
    <col class="price" />
    <col class="qty" />
    <col class="total" />
    <thead>
        {% if order.groups.count > 1 %}
        <tr>
            <th colspan="4">
            {% blocktrans %}Delivery group #{{ forloop.counter }}{% endblocktrans %}
            </th>
        </tr>
        {% endif %}
        <tr>
            <th class="image"></th>
            <th class="name">{% trans 'Description' %}</th>
            <th class="price">{% trans 'Unit Price' %}</th>
            <th class="qty">{% trans 'Quantity' %}</th>
            <th class="total">{% trans 'Total' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in group.items.all %}
        {% with variant=item.product_variant.get_subtype_instance unit_price=item.get_price_per_item item_price=item.get_total readonly=1 %}
            {% with product=variant.product %}
                {% include "satchless/cart/snippets/row.html" %}
            {% endwith %}
        {% endwith %}
    {% endfor %}
    </tbody>
    <tfoot>
        {% with group.get_delivery as variant %}
        <tr>
            <th>{% trans "Delivery" %}:</th>
            <td colspan="3">
                {{ variant.name }}
            </td>
            <td class="product-price">
                <span class="fullprice">{% gross variant.get_total %}</span>
            </td>
        </tr>
        {% endwith %}
        <tr>
            <td class="product-price" colspan="5">
                <span class="fullprice">{% gross group.get_total %}</span>
            </td>
        </tr>
    </tfoot>
</table>
{% endfor %}
<p>Total amount to pay: {% gross order.get_total %}</p>
{% if order.paymentvariant %}
<p>{% trans "Payment method" %}: {{ order.get_payment.name }}
{% endif %}
