{% load i18n %}
{% load prices %}
{% load products_tags %}
{% load satchless_image %}
{% for group in order.groups.all %}
<table class="cart-contents">
    <col class="image" />
    <col class="name" />
    <col class="price" />
    <col class="qty" />
    <col class="total" />
    <thead>
        {% if order.groups.count > 1 %}
        <tr>
            <th colspan="4">
            {% blocktrans %}Delivery group #{{ forloop.counter }}{% endblocktrans %}
            </th>
        </tr>
        {% endif %}
        <tr>
            <th class="image"></th>
            <th class="name">{% trans 'Description' %}</th>
            <th class="price">{% trans 'Unit Price' %}</th>
            <th class="qty">{% trans 'Quantity' %}</th>
            <th class="total">{% trans 'Total' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in group.items.all %}
        {% with product=item.product_variant.get_subtype_instance.product %}
        {% with variant=item.product_variant.get_subtype_instance %}
        {% with unit_price=item.unit_price item_price=item.price currency=order.currency readonly=1 %}
            {% include "satchless/cart/snippets/row.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% comment %}
        <tr>
            <td class="image">
{% if variant.product.main_image %}
                <a href="{{ variant.product.get_url }}"><img src="{{ variant.product.main_image|at_size:'cart-product' }}" alt="{{ item }}" /></a>
{% else %}
                <a href="{{ variant.product.get_url }}">{{ variant }}</a>
{% endif %}
            </td>
            <td class="name product-description">
{% if variant.product.manufacture %}
                <span class="manufacture">{{ variant.product.manufacture }}</span>
{% endif %}
                <h2><a href="{{ variant.product.get_absolute_url }}">{{ variant.product.name }}</a></h2>
{% with variant|variant_attrs as va %}
{% if va %}
                <ul class="variant-attrs">
    {% for attr in va %}
                    <li>{{ attr.name }}: <strong>{{ attr.value }}</strong></li>
    {% endfor %}
                </ul>
{% endif %}
{% endwith %}
            </td>
            <td class="numerical"><span class="gross">{{ item.unit_price_gross|floatformat:2 }}</span></td>
            <td class="numerical">{{ item.quantity }}</td>
            <td class="numerical">{{ item.price|gross|floatformat:2 }}</td>
        </tr>
        {% endcomment %}
        {% endfor %}
    </tbody>
    <tfoot>
        {% if group.deliveryvariant %}{% with group.deliveryvariant.get_subtype_instance as variant %}
        <tr>
            <th>{% trans "Delivery" %}:</th>
            <td colspan="2">
                {{ variant }}
            </td>
            <td class="numerical">{{ variant.price|floatformat:2 }}</td>
        </tr>
        {% endwith %}{% endif %}
        <tr>
            <th colspan="3">{% trans "Total" %}:</th>
            <td class="numerical">{{ group.total|gross|floatformat:2 }}</td>
        </tr>
    </tfoot>
</table>
{% endfor %}
<p>Total amount to pay: {{ order.total|gross|floatformat:2 }} <span class="currency">{{ order.currency }}</span></p>
{% if order.paymentvariant %}
<p>{% trans "Payment method" %}: {{ order.paymentvariant.get_subtype_instance }}
{% endif %}
