{% extends 'satchless/order/base.html' %}
{% load i18n %}
{% load url from future %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>{% trans "Order #" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Price" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        {% url 'satchless-order-view' order.token as order_url %}
        <tr class="{% cycle odd even %}">
            <td><a href="{{ order_url }}">{{ order.pk }}</a></td>
            <td>{{ order.created|date }} {{ order.created|time }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.total|floatformat:2 }} <span class="currency">{{ order.currency }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
