{% extends 'satchless/productset/base.html' %}
{% load i18n %}
{% block title %}{{ productset.name }} | {{ block.super }}{% endblock %}
{% block meta-description %}{% if productset.meta_description %}{{ productset.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
    <h1>{{ productset.name }} ({{variants|length}})</h1>
    <div class="productsetDescription">
        {{ productset.description }}
    </div>
    {% if productset.images.count %}{% load satchless_image %}
    <h2>{% trans "Images" %}</h2>
    <ul>
        {% for img in productset.images.all %}
            <li><img src="{{ img|at_size:'product-detail' }}" alt="" /></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if variants|length %}
    <h2>{% trans "Products" %}</h2>
        <ul>
            {% for variant in variants %}
                <li>
                    {% if variant.product.images.count %}{% load satchless_image %}
                        <img src="{{ variant.product.images.all|first|at_size:'product-detail' }}" alt="" />
                    {% endif %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            {{ variant.product }}
                            {{ variant.cart_form.as_table }}
                        </table>
                        <button type="submit" name='satchless_cart'>{% trans "Add to cart" %}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
