{% extends 'satchless/productset/base.html' %}
{% load i18n %}
{% block title %}{{ productset.name }} | {{ block.super }}{% endblock %}
{% block meta-description %}{% if productset.meta_description %}{{ productset.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
    <h1>{{ productset.name }} ({{variants|length}})</h1>
    <div class="productsetDescription">
        {{ productset.description }}
    </div>
    {% if variants|length %}
    <h2>{% trans "Products" %}</h2>
        <ul>
            {% for variant in variants %}
                <li>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            {{ variant.product }}
                            {{ variant.cart_form.as_table }}
                        </table>
                        <button type="submit" name='satchless_cart'>{% trans "Add to cart" %}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
