{% extends "satchless/base.html" %}
{% load image_tags %}
{% load pagination_tags %}
{% load product_url %}
{% load prices %}
{% load product_prices %}

{% block body-class %}category{% if path %} cat-{{ path.0.slug }}{% endif %}{% endblock %}

{% block content %}
<div class="grid_4 alpha"><div class="sidebar"><h4>{{ category }}</h4></div></div>
<div class="grid_20 omega products">
{% if category.is_leaf_node %}
    {% with category.products.all as products %}
        {% autopaginate products 21 %}
        {% if products %}
    {% paginate %}
            {% for product in products %}
                {% with product.get_subtype_instance as product %}
                {% with product|product_in_category_url:category as product_url %}
    <div class="grid_5 {% cycle 'alpha' '' '' 'omega' %}">
        <div class="product">
            <a href="{{ product_url }}" class="product-photo"><img src="{{ product.main_image|at_size_with_fallback:'category-product' }}" alt="{{ product.name }} image"/></a>
            <div class="description">
                <span class="manufacture">
                    {% if product.make %}
                    {{ product.make }}
                    {% endif %}
                </span>
                <h3><a href="{{ product_url }}">{{ product.name }}</a></h3>
                <div class="price">
                    {% product_price_range product as price_range %}
                    {% product_price_range product discount=0 as undiscounted_price_range %}
                    {% if price_range.min_price != undiscounted_price_range.min_price %}
                        <span class="strike">{% gross undiscounted_price_range.min_price %}</span>
                    {% endif %}
                    <span class="fullprice">{% gross price_range.min_price %}</span>
                </div>
            </div>
        </div>
    </div>
                {% endwith %}
                {% endwith %}
            {% endfor %}
    {% paginate %}
        {% else %}
        <div class="no-items">No products yet!</div>
        {% endif %}
    <div class="clear"></div>
    {% endwith %}
{% else %}
    {% with category.get_children as subcategories %}
        {% if subcategories %}
            {% for child in subcategories %}
                <div class="grid_5">
                    <div class="category">
                        <a href="{{ child.get_absolute_url }}"><img src="{{ child.image|at_size_with_fallback:'category' }}" alt="" /></a>
                        <h3><a href="{{ child.get_absolute_url }}">{{ child }}</a></h3>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endif %}
</div>
<div class="clear"></div>
{% endblock %}
