{% load i18n %}
{% load prices %}
{% load product_prices %}
{% load products_tags %}
{% load satchless_image %}
<tr>
<td class="image">
{% if variant.product.main_image %}
        <a href="{{ variant.product.get_absolute_url }}"><img src="{{ variant.product.main_image|at_size:'cart-product' }}" alt="{{ item }}" /></a>
{% else %}
        <a href="{{ variant.product.get_absolute_url }}">{{ variant }}</a>
{% endif %}
    </td>
    <td class="name product-description">
{% if variant.product.manufacture %}
        <span class="manufacture">{{ variant.product.manufacture }}</span>
{% endif %}
        <h2><a href="{{ variant.product.get_absolute_url }}">{{ variant.product.name }}</a></h2>
{% with variant|variant_attrs as va %}
{% if va %}
            <ul class="variant-attrs">
{% for attr in va %}
                <li>{{ attr.name }}: <strong>{{ attr.value }}</strong></li>
{% endfor %}
            </ul>
{% endif %}
{% endwith %}
    </td>
    <td class="product-price">
        <div class="amounts">
{% if undiscounted_unit_price and undiscounted_unit_price != unit_price %}
            <span class="strike">{{ undiscounted_unit_price|gross|floatformat:2 }}</span><br />
{% endif %}
            <span class="fullprice">{{ unit_price|gross|floatformat:2 }}</span>
        </div>
        <span class="currency">{{ currency }}</span>
    </td>
    <td class="qty">
        {% if not readonly %}
        <form action="" method="post">
            &times; {% for field in form %}{{ field }}{% endfor %}
            <input type="submit" value="{% trans "update" %}" name="update" />
            {% csrf_token %}
        </form>
        {% else %}
            &times; {{ item.quantity }}
        {% endif %}
    </td>
    <td class="product-price">
        <div class="amounts">
{% if undiscounted_item_price and undiscounted_item_price != item_price %}
            <span class="strike">{{ undiscounted_item_price|gross|floatformat:2 }}</span><br />
{% endif %}
            <span class="fullprice">{{ item_price|gross|floatformat:2 }}</span>
        </div>
        <span class="currency">{{ currency }}</span>
    </td>
</tr>
