{% load i18n %}
{% load image_tags %}
{% load prices %}
{% load product_prices %}
{% load products_tags %}
<tr>
    <td class="image">
        <a href="{{ variant.product.get_absolute_url }}"><img src="{{ variant.product.main_image|at_size_with_fallback:'cart-product' }}" alt="{{ variant }}" /></a>
    </td>
    <td class="name product-description">
{% if variant.product.manufacture %}
        <span class="manufacture">{{ variant.product.manufacture }}</span>
{% endif %}
        <h2><a href="{{ variant.product.get_absolute_url }}">{{ variant.product.name }}</a></h2>
{% with variant|variant_attrs as va %}
{% if va %}
            <ul class="variant-attrs">
{% for attr in va %}
                <li>{{ attr.name }}: <strong>{{ attr.value }}</strong></li>
{% endfor %}
            </ul>
{% endif %}
{% endwith %}
    </td>
    <td class="product-price">
        <div class="amounts">
{% if undiscounted_unit_price and undiscounted_unit_price != unit_price %}
            <span class="strike">{% gross undiscounted_unit_price %}</span><br />
{% endif %}
            <span class="fullprice">{% gross unit_price %}</span>
        </div>
    </td>
    <td class="qty">
        {% if not readonly %}
        <form action="" method="post">
            &times; {% for field in form %}{{ field }}{% endfor %}
            <input type="submit" value="{% trans "update" %}" name="update" />
            {% csrf_token %}
        </form>
            {% if form.errors %}
        <ul class="errorlist">
                {% for error in form.errors.values %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
            {% endif %}
        {% else %}
            &times; {{ item.quantity }}
        {% endif %}
    </td>
    <td class="product-price">
        <div class="amounts">
{% if undiscounted_item_price and undiscounted_item_price != item_price %}
            <span class="strike">{% gross undiscounted_item_price %}</span><br />
{% endif %}
            <span class="fullprice">{% gross item_price %}</span>
        </div>
    </td>
</tr>
