{% extends 'satchless/cart/base.html' %}
{% load cart_prices %}
{% load i18n %}
{% load prices %}
{% load product_prices %}
{% load promote %}
{% load satchless_image %}

{% block title %}{% trans "Shopping Bag" %} || {{ block.super }}{% endblock %}
{% block body-class %}{{ block.super }} cart{% endblock %}

{% block content %}
<h1>{% trans "Shopping Bag" %}</h1>

<hr />

{% if formset.forms %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="cart-contents">
        <col class="image" />
        <col class="name" />
        <col class="size" />
        <col class="price" />
        <col class="qty" />
        <col class="total" />
        <thead>
            <tr>
                <th class="name" colspan="2">{% trans 'Item' %}</th>
                <th class="variant">{% trans 'Variant' %}</th>
                <th class="price">{% trans 'Unit Price' %}</th>
                <th class="qty">{% trans 'Quantity' %}</th>
                <th class="total">{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
{% for form in formset.forms %}
    {{ form.id }}
    {% promote form.instance.variant as variant %}
    {% cartitem_unit_price form.instance as unit_price %}
    {% cartitem_price form.instance as item_price %}
            <tr class="item">
                <td class="image">
                    <a href="{{ variant.product.get_url }}"><img src="{{ variant.product.main_image|at_size:'product-cart' }}" alt="{{ item }}" /></a>
                </td>
                <td class="name">
                    <a href="{{ variant.product.get_url }}">{{ variant.product }}</a>
                    </a>
                </td>
                <td>
                    {{ variant }}
                </td>
                <td class="unit-price">
                    <span class="currency">{{ cart.currency }}</span>{{ unit_price|gross|floatformat:2 }}
                </td>
                <td class="quantity">&times; {{ form.quantity }}</td>
                <td class="numerical itemPrice">
                     <span class="currency">{{ cart.currency }}</span>{{ item_price|gross|floatformat:2 }}
                </td>
                {% comment %}
                <td class="numerical tax">
                    {{ item_price|tax|floatformat:2 }} <span class="currency">{{ cart.currency }}</span>
                </td>
                <td rowspan="2">{{ form.DELETE }}</td>
                <td class="numerical taxName">
                    {% with item_price|tax_name as taxname %}{% if taxname %}({{ taxname }}){% endif %}{% endwith %}
                </td>
                {% endcomment %}
            </tr>
{% endfor %}
        </tbody>
    {% if form.quantity.errors %}
            <tr class="errors">
                <td>
                {{ form.id }}
                </td>
                <td colspan="5">
                    {{ form.quantity.errors }}
                </td>
                <td></td>
            </tr>
    {% endif %}
        <tfoot>
            <tr class="total">
                <th colspan="5">{% trans "Total" %}:</th>
                <td class="numerical">
                    {{ cart|cart_total|gross|floatformat:2 }} <span class="currency">{{ cart.currency }}</span><br />
                </td>
                <td colspan="2" rowspan="2"></td>
            </tr>
            <tr>
                <td colspan="7">
                    <button type="submit">{% trans "Save" %}</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
<a href="{% url satchless-checkout %}">{% trans "Check out" %}</a>
{% else %}
<p class="no-items">
    {% trans "Your shopping bag is empty." %}
</p>
{% endif %}
{% endblock %}
