{% extends "satchless/base.html" %}
{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load prices %}
{% load product_prices %}
{% load satchless_image %}

{% block title %}{{ block.super }} &mdash; {{ product.name }}{% endblock %}

{% block body-class %}{{ block.super }} {% if path %}cat-{{ path.0.slug }} {% endif %}product{% endblock %}

{% block extra-body %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cloud-zoom.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/cloud-zoom.1.0.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/product.js"></script>

{% endblock %}

{% block breadcrumbs %}
{% if path %}
<ul id="breadcrumbs">{% spaceless %}
    {% for category in path %}
    <li class="{% if forloop.first %}first{% endif %}{% if forloop.last %} active{% endif %}"><a href="/">{{ category }}</a></li>
    {% endfor %}
{% endspaceless %}</ul>
{% endif %}
{% endblock %}

{% block content %}
{% comment %}
<div id="sidebar" class="grid_1 {% if not path %}placeholder{% endif %}">
{% if path %}
    {% with path.0.get_children as categories %}
    <ul class="categories">
        {% for cat in categories %}
        <li{% if cat == path.1 %} class="active"{% endif %}><a href="{{ cat.get_url }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
    {% endwith %}
{% endif %}
</div>
<div class="clear"></div>
{% endcomment %}

<div class="clear"></div>

<div class="main-photo">
{% if product.main_image %}
    <a href="{{ product.main_image.image.url }}" class="cloud-zoom" rel="position: 'inside', showTitle: false"><img src="{{ product.main_image|at_size:'product-detail' }}" /></a>
{% endif %}
</div>

<form action="" method="post">
    <div class="variants">
{% if product.manufacture %}
        <span class="manufacture">{{ product.manufacture }}</span>
{% endif %}
        <h1>{{ product.name }}</h1>
        {% csrf_token %}
        <table>
        {{ product.cart_form.as_table }}
        </table>

    </div>

    <div class="description">
        <div class="price">
{% product_price_range product as price_range %}
{% product_price_range product discount=0 as undiscounted_price_range %}
{% if price_range.min != price_range.max %}
    {% if price_range.min != undiscounted_price_range.min or price_range.max != undiscounted_price_range.max %}
            <span class="strike">{{ undiscounted_price_range.min|gross }} - {{ undiscounted_price_range.max|gross }}</span>
    {% endif %}
            <span class="fullprice">{{ price_range.min|gross|intcomma }}</span><span class="currency">{{ price_range.min|currency }}</span> - <span class="fullprice">{{ price_range.max|currency }}</span><span class="currency">{{ price_range.max|gross }}</span>
{% else %}
    {% if price_range.max != undiscounted_price_range.max %}
            <span class="strike">{{ undiscounted_price_range.max|gross }}</span>
    {% endif %}
            <span class="fullprice">{{ price_range.min|gross }}</span><span class="currency">{{ price_range.min|currency }}</span>
{% endif %}
            <p class="info">
                Inclusive VAT <br />
                Exclusive shipping costs<br />
            </p>
        </div>
        <div class="add-to-cart">
            <input class="cart" name="cart" type="submit" value="{% trans "Add to cart" %}" />
            <input class="whishlist" name="whishlist" type="submit" value="{% trans "Add to whishlist" %}" />
        </div>
        <div class="text">
        {{ product.description|linebreaks }}
        </div>
    </div>
</form>

<div class="thumbs">
{% spaceless %}
{% for image in product.images.all %}
    {% with image|at_size:'product-thumb' as thumb %}
        {% with image|at_size:'product-detail' as detail %}
    <a href="{{ detail }}" data-big-picture="{{ image.image.url }}" title="Click to see this image enlarged"><img src="{{ thumb }}" alt="{{ image.caption }}"{% if forloop.first %} class="active"{% endif %} /></a>
        {% endwith %}
    {% endwith %}
{% endfor %}
{% endspaceless %}
</div>

<div class="clear"></div>
{% endblock %}
