{% extends "admin/base.html" %}

{% load admin_list %}
{% load i18n %}
{% load image_tags %}

{% block content %}
<div id="search-products">
    <div class="search filter module">
        <form action="{% url admin:search-variants %}"  method="get" id="search-product">
            <input type="text" id="searchbar" name="q">
            <button class="search" type="submit" value="" name="search" >&nbsp;</button>
        </form>
    </div>
    <div class="clear"></div>
    <div class="module table" id="products">
        <div class="module tbody">
{% for result in page.object_list %}
    {% with result.object.get_subtype_instance as product %}
            <div class="tr product" data-variant-pk="{{ variant.pk }}" >
                <div class="td">
                    <img src="{{ product.main_image|at_size_with_fallback:'admin' }}" alt="" />
                </div>
                <div class="td product-id-container">
                    {% trans "Copy this value to form input to select this product." %}
                    <span class="product-id">{{ product.id }}</span>
                </div>
                <div class="td">
                    <a class="name" target="_blank" href="{{ product.get_absolute_url }}">{{ product }}</a>
                </div>
                <div class="td variants">
        {% with product.variants.all as variants %}
                    <ul>
            {% for variant in variants %}
                        <li class="variant">{{ variant }} <span class="variant-id">{{ variant.id }}</span></li>
            {% endfor %}
                    </ul>
        {% endwith %}
                </div>
            </div>
    {% endwith %}
{% empty %}
            <p>No results found.</p>
{% endfor %}

        </div>
    </div>
{% if page.has_previous or page.has_next %}
    <div class="pagination">
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
{% endif %}
</div>
{% endblock %}

