/* gray values:
 * #000, #474747, #6e6e6e, #a9a9a9
 * yellow:
 * #fbf839
 * border colors:
 * #dcdcdc
 */
html {
    background: #f7f7f7;
}
body {
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
}
#header {
    color: #474747;
    margin-bottom: 25px;
}
#header a {
    color: #474747;
}
    #header .logo {
        float: left;
    }
        #header .logo img {
            border: 0 none;
        }
    #header ul.menu {
        float: left;
        margin: 5px 0;
        padding: 0;
    }
        #header .menu li {
            font-weight: bold;
            float: left;
            list-style: none;
            margin-left: 20px;
        }
            #header .menu li a {
                text-decoration: none;
            }
            #header .menu li.contact a,
            #header .menu li.about-us a {
                color: #a9a9a9;
            }
            #header .menu li.about-us a {
                border-left: 1px solid #a9a9a9;
                padding-left: 20px;
            }
                #header .menu li ul.submenu {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                    #header .menu li ul.submenu li {
                        float: none;
                        font-size: 12px;
                        font-weight: normal;
                        margin: 4px 0 0;
                    }
                        #header .menu li ul.submenu li a {
                            color: #6e6e6e;
                        }
    #header .shortcuts {
        float: right;
    }
        #header .shortcuts .languages {
            font-size: 10px;
            margin: 20px 0;
            padding: 0;
            text-align: right;
        }
            #header .shortcuts .languages li {
                border-left: 1px solid #474747;
                display: inline;
                list-style: none;
                padding-left: 5px;
                text-transform: uppercase;
                margin-left: 5px;
            }
            #header .shortcuts .languages li.first {
                border-left: 0 none;
            }
                #header .shortcuts .languages li a {
                    text-decoration: none;
                }
        #header form.search {
            background: #fff;
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            -moz-border-radius: 4px;
            font-size: 16px;
        }
            #header form.search input.q {
                border: 0 none;
                padding-left: 5px;
                font-size: 16px;
                width: 180px;
            }
            #header form.search input.q:focus {
                outline: none;
            }
            #header form.search input.submit {
                background: #474747;
                border: 0 none;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #f7f7f7;
                font-size: 16px;
                margin: 1px;
                padding: 3px 7px;
            }
            #header form.search input.submit:hover {
                cursor: pointer;
            }
        #header .shortcuts .carts {
            text-align: right;
        }
            #header .shortcuts .carts a {
                font-size: 16px;
                font-weight: bold;
                margin-left: 10px;
                text-decoration: none;
            }
                #header .shortcuts .carts a img {
                    border: 0 none;
                    margin-left: 7px;
                    vertical-align: middle;
                }
#breadcrumbs {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 8px;
    padding: 0;
}
    #breadcrumbs li {
        border-left: 1px solid #474747;
        display: inline-block;
        list-style: none;
        margin-left: 8px;
        padding: 0 0 0 8px;
    }
    #breadcrumbs li.first {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
        #breadcrumbs li a {
            color: #474747;
            text-decoration: none;
        }
        #breadcrumbs li.active a {
            font-weight: bold;
        }
body.home-page {
}
    body.home-page #content .info {
        background: #fff;
        border-top: #dcdcdc 1px solid;
        margin-top: 30px;
        padding: 25px;
    }
        body.home-page #content .info .contact {
            background: url(../img/logo-mirumee.png) left 2px no-repeat;
            color: #474747;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 35px;
            padding-left: 35px;
        }
            body.home-page #content .info .contact a {
                background: #fbf839;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #474747;
                padding: 3px;
                text-decoration: none;
            }
            body.home-page #content .info .contact .quality {
                font-size: 12px;
                font-weight: normal;
            }
        body.home-page #content .info .footer {
            background: url(../img/clipart.png) 50% top no-repeat;
            color: #6e6e6e;
            font-size: 12px;
            padding-top: 34px;
            text-align: center;
        }
            body.home-page #content .info .footer img.motto {
                margin-top: 10px;
            }
body.store.product {
}
    body.store.product #content {
    }
        body.store.product #content .main-photo {
            background: #fff;
            border: 1px solid #dcdcdc;
            float: left;
            height: 304px;
            width: 304px;
        }
            body.store.product #content .main-photo img {
                border: 0 none;
                margin: 0 auto;
            }
        body.store.product #content form {
            background: #fff;
            border: 1px solid #dcdcdc;
            color: #474747;
            float: left;
            font-size: 14px;
            height: 245px;
            margin-left: 7px;
            padding: 30px;
            width: 565px;
        }
            body.store.product #content form .description,
            body.store.product #content form .variants {
                float: left;
                width: 275px;
            }
                body.store.product #content form .variants h1 {
                    color: #000;
                    font-size: 18px;
                    margin-top: 5px;
                }
                body.store.product #content form .variants .manufacture {
                    color: #6e6e6e;
                }
            body.store.product #content form .description {
                margin-left: 15px;
            }
                body.store.product #content form .description .price,
                body.store.product #content form .description .add-to-cart {
                    float: left;
                    text-align: right;
                    width: 130px;
                }
                    body.store.product #content form .description .price .fullprice {
                        font-size: 24px;
                        font-weight: bold;
                        margin-right: 4px;
                    }
                    body.store.product #content form .description .price .currency {
                        font-size: 10px;
                    }
                    body.store.product #content form .description .price .strike {
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                    body.store.product #content form .description .price .info {
                        color: #a9a9a9;
                        font-size: 11px;
                    }
                body.store.product #content form .description .add-to-cart {
                    margin-left: 10px;
                    width: 135px;
                }
                    body.store.product #content form .description .add-to-cart input {
                        background: #fbf839 url(../img/icons/cart.png) no-repeat 5px 50%;
                        cursor: pointer;
                        margin-bottom: 5px;
                        padding: 10px 2px 10px 28px;
                        text-align: left;
                        width: 133px;
                    }
                    body.store.product #content form .description .add-to-cart input.cart {
                        border: 1px solid #dad74a;
                        border-radius: 5px;
                        -moz-border-radius: 5px;
                        font-size: 16px;
                    }
                    body.store.product #content form .description .add-to-cart input.whishlist {
                        background-color: transparent;
                        background-image: url(../img/icons/whishlist.png);
                        border: 0 none;
                        font-size: 12px;
                    }
                body.store.product #content form .description .text {
                    color: #6e6e6e;
                }
    body.store.product #content .thumbs {
    }
        body.store.product #content .thumbs a {
            border: 1px solid #dcdcdc;
            display: block;
            float: left;
            height: 71px;
            margin: 5px 5px 5px 0;
            width: 71px;
        }
            body.store.product #content .thumbs a img {
                border: 0 none;
            }
