/* gray values:
 * #000, #474747, #6e6e6e, #a9a9a9
 * yellow:
 * #fbf839
 * border colors:
 * #dcdcdc
 */
html {
    background: #f7f7f7;
    color: #474747;
}
body {
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: #474747;
    margin-bottom: 25px;
}
#header a {
    color: #474747;
}
    #header .logo {
    }
        #header .logo img {
            border: 0 none;
        }
    #header ul.menu {
        float: left;
        margin-top: 5px;
        margin-top: 5px;
        padding: 0;
    }
        #header .menu li {
            font-weight: bold;
            float: left;
            list-style: none;
            margin-left: 20px;
        }
            #header .menu li a {
                text-decoration: none;
            }
            #header .menu li.contact a,
            #header .menu li.about-us a {
                color: #a9a9a9;
            }
            #header .menu li.about-us a {
                border-left: 1px solid #a9a9a9;
                padding-left: 20px;
            }
                #header .menu li ul.submenu {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                    #header .menu li ul.submenu li {
                        float: none;
                        font-size: 12px;
                        font-weight: normal;
                        margin: 4px 0 0;
                    }
                        #header .menu li ul.submenu li a {
                            color: #6e6e6e;
                        }
    #header .shortcuts {
        float: right;
    }
        #header .shortcuts .languages {
            font-size: 10px;
            margin: 20px 0;
            padding: 0;
            text-align: right;
        }
            #header .shortcuts .languages li {
                border-left: 1px solid #474747;
                display: inline;
                list-style: none;
                padding-left: 5px;
                text-transform: uppercase;
                margin-left: 5px;
            }
            #header .shortcuts .languages li.first {
                border-left: 0 none;
            }
                #header .shortcuts .languages li a {
                    text-decoration: none;
                }
        #header form.search {
            background: #fff;
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            -moz-border-radius: 4px;
            font-size: 16px;
        }
            #header form.search input.q {
                border: 0 none;
                padding-left: 5px;
                font-size: 16px;
                width: 141px;
            }
            #header form.search input.q:focus {
                outline: none;
            }
            #header form.search input.submit {
                background: #474747;
                border: 0 none;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #f7f7f7;
                font-size: 16px;
                margin: 1px;
                padding: 3px 7px;
            }
            #header form.search input.submit:hover {
                cursor: pointer;
            }
        #header .shortcuts .carts {
            text-align: right;
        }
            #header .shortcuts .carts a {
                font-size: 16px;
                font-weight: bold;
                margin-left: 10px;
                text-decoration: none;
            }
                #header .shortcuts .carts a img {
                    border: 0 none;
                    margin-left: 7px;
                    vertical-align: middle;
                }
#breadcrumbs {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 8px;
    padding: 0;
}
    #breadcrumbs li {
        border-left: 1px solid #474747;
        display: inline-block;
        list-style: none;
        margin-left: 8px;
        padding: 0 0 0 8px;
    }
    #breadcrumbs li.first {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
        #breadcrumbs li a {
            color: #474747;
            text-decoration: none;
        }
        #breadcrumbs li.active a {
            font-weight: bold;
        }
/* product price view: wishlist + product view */
.product-price {
    padding-top: 10px;
}
    .product-price .fullprice {
        font-size: 1.6em;
        font-weight: bold;
        margin-right: 4px;
    }
    .product-price .currency {
        font-size: 0.8em;
    }
    .product-price .strike {
        font-size: 1em;
        text-decoration: line-through;
    }
    .product-price .info {
        color: #a9a9a9;
        font-size: 0.8em;
        margin-top: 5px;
    }
.product-description {
    color: #474747;
}
    .product-description h1,
    .product-description h2 {
        color: #000;
        font-size: 16px;
        margin-top: 5px;
    }
        .product-description h2 a {
            color: #000;
            text-decoration: none;
        }
    .product-description .manufacture {
        color: #6e6e6e;
        font-size: 14px;
    }
    .product-description .variant-attrs {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
        .product-description .variant-attrs li {
            height: auto;
            list-style: none;
            margin-bottom: 5px;
            text-align: left;
        }
input.wishlist,
input.cart {
    background: #fbf839 url(../img/icons/cart.png) no-repeat 5px 50%;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 2px 10px 28px;
    text-align: left;
}
input.cart {
    border: 1px solid #dad74a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
}
input.wishlist {
    background-color: transparent;
    background-image: url(../img/icons/wishlist.png);
    border: 0 none;
    font-size: 12px;
}
body.home-page {
}
    body.home-page #content .info {
        background: #fff;
        border-top: #dcdcdc 1px solid;
        margin-top: 30px;
        padding: 25px;
    }
        body.home-page #content .info .contact {
            background: url(../img/logo-mirumee.png) left 2px no-repeat;
            color: #474747;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 35px;
            padding-left: 35px;
        }
            body.home-page #content .info .contact a {
                background: #fbf839;
                border-radius: 3px;
                -moz-border-radius: 3px;
                color: #474747;
                padding: 3px;
                text-decoration: none;
            }
            body.home-page #content .info .contact .quality {
                font-size: 12px;
                font-weight: normal;
            }
        body.home-page #content .info .footer {
            background: url(../img/clipart.png) 50% top no-repeat;
            color: #6e6e6e;
            font-size: 12px;
            padding-top: 34px;
            text-align: center;
        }
            body.home-page #content .info .footer img.motto {
                margin-top: 10px;
            }
body.store.product {
}
    body.store.product #content {
    }
        body.store.product #content .main-photo {
            background: #fff;
            border: 1px solid #dcdcdc;
            height: 310px;
        }
            body.store.product #content .main-photo img {
                border: 0 none;
                margin: 0 auto;
            }
        body.store.product #content form {
            background: #fff;
            border: 1px solid #dcdcdc;
            color: #474747;
            float: left;
            font-size: 14px;
            height: 250px;
            padding: 30px;
            width: 568px;
        }
            body.store.product #content form .add-to-cart,
            body.store.product #content form .product-description {
                float: left;
                width: 275px;
            }
            body.store.product #content form .product-description {
            }
                body.store.product #content form .product-description #id_quantity {
                    width: 2em;
                    text-align: right;
                }
            body.store.product #content form .add-to-cart {
                margin-left: 15px;
                text-align: right;
            }
                body.store.product #content form .add-to-cart .text {
                    color: #6e6e6e;
                    text-align: left;
                }
        body.store.product #content .thumbs {
        }
            body.store.product #content .thumbs a {
                margin-top: 5px;
            }
                body.store.product #content .thumbs a img {
                    border: 1px solid #dcdcdc;
                }

body.store.checkout {
}
    body.store.checkout #content {
    }
        body.store.checkout #content table.cart-contents {
            border-collapse: collapse;
            width: 100%;
        }
            body.store.checkout #content table.cart-contents col.name {
                width: 300px;
            }
            body.store.checkout #content table.cart-contents col.qty {
                width: 140px;
            }
            body.store.checkout #content table.cart-contents th {
                color: #000;
                font-weight: normal;
            }
            body.store.checkout #content table.cart-contents td {
                padding: 15px 10px 10px;
                vertical-align: top;
            }
            body.store.checkout #content table.cart-contents td.image {
                padding-left: 0;
                padding-top: 10px;
            }
                body.store.checkout #content table.cart-contents td.image a {
                    background: #fff;
                    border: 1px solid #bfbfbf;
                    display: block;
                    text-align: center;
                    width: 158px;
                }
                    body.store.checkout #content table.cart-contents td.image a img {
                        border: 0 none;
                    }
            body.store.checkout #content table.cart-contents td.product-description {
                width: 320px;
            }
            body.store.checkout #content table.cart-contents td.product-price {
                font-size: 16px;
                width: 140px;
                text-align: right;
            }
                body.store.checkout #content table.cart-contents td.product-price .amounts {
                    display: inline-block;
                    margin-right: 3px;
                }
                    body.store.checkout #content table.cart-contents td.product-price .amounts .fullprice {
                        margin: 0;
                    }
            body.store.checkout #content table.cart-contents td.qty {
                padding-top: 20px
            }
                body.store.checkout #content table.cart-contents td.qty input {
                    text-align: right;
                    width: 3em;
                }
            body.store.checkout #content table.cart-contents td.total {
                padding-right: 0;
            }
            body.store.checkout #content table.cart-contents th {
                border-bottom: 1px solid #858584;
                padding: 10px;
                text-align: left;
            }
                body.store.checkout #content table.cart-contents th.total {
                    padding-right: 0;
                }
            body.store.checkout #content table.cart-contents tfoot {
            }
                body.store.checkout #content table.cart-contents tfoot th {
                    border: 0 none;
                }
body.store.wishlist {
}
    body.store.wishlist #sidebar {
        padding: 10px;
    }
    body.store.wishlist .my-account {
        background: #fff;
        color: #474747;
        font-weight: bold;
        padding: 5px 7px;
    }
    body.store.wishlist .products {
        background: #fff;
        color: #474747;
        border: 1px solid #bfbfbf;
    }
        body.store.wishlist .products ul {
            margin: 0;
            padding: 0;
        }
            body.store.wishlist .products ul li.product {
                height: 158px;
                list-style: none;
                margin: 0;
                text-align: center;
            }
                body.store.wishlist .products ul li.product .image {
                    border: 1px solid #bfbfbf;
                    border-width: 0 1px 1px 0;
                    height: 158px;
                    float: left;
                    width: 158px;
                }
                body.store.wishlist .products ul li.product .product-description {
                    border-bottom: 1px solid #bfbfbf;
                    float: left;
                    height: 138px;
                    padding: 10px;
                    text-align: left;
                    width: 315px;
                }
                body.store.wishlist .products ul li.product .product-price {
                    border-bottom: 1px solid #bfbfbf;
                    float: left;
                    font-size: 16px;
                    padding: 15px;
                    height: 128px;
                    text-align: right;
                    width: 264px;
                }
                    body.store.wishlist .products ul li.product .product-price input.cart {
                        margin-top: 5px;
                    }
                body.store.wishlist .products ul li.product.last .product-price,
                body.store.wishlist .products ul li.product.last .product-description,
                body.store.wishlist .products ul li.product.last .image {
                    border-bottom: 0 none;
                }
