{% load prices %}
{% load product_url %}
{% load product_prices %}
{% load sale_tags %}

{% with price_range_chain=product|product_price_range_chain %}
    {% if price_range.min != price_range.max %}
    <span id="fullprice">{{ price_range.min|currency }}{{ price_range.min|gross }} - {{ price_range.max|currency }}{{ price_range.max|gross }}</span>
    {% else %}
        {% with price=price_range_chain|get_final_price_range without_discount=price_range_chain|pre_discount_price_range %}
            {% if price.min != without_discount.min %}
    <span class="strike">{{ without_discount.min|currency }}{{ without_discount.min|gross }}</span>
            {% endif %}
    <span id="fullprice">{{ price.min|currency }}{{ price.min|gross }}</span>
        {% endwith %}
    {% endif %}
{% endwith %}
