{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Delivery method" %}{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{% url cart:details %}">1. {% trans "Cart" %}</a>
</li>
<li class="active">
    2. {% trans "Delivery" %}
</li>
<li class="payment">
    3. {% trans "Payment" %}
</li>
<li class="confirmation">
    <span>3. {% trans "Great success!" %}</span>
</li>
{% endblock %}

{% block content %}
<div class="grid_16 alpha">
<div class="container">
    {% if order %}
    <form method="post" action="">{% csrf_token %}
        {{ shipping_formset.management_form }}
        {% for form in shipping_formset.forms %}{% with form.instance as group %}
            <h2>{% trans "Delivery group" %}{% if order.groups.count > 1 %} {{ forloop.counter }}{% endif %}:</h2>
            <ul>
            {% include 'satchless/checkout/snippets/delivery_group.html' %}
            </ul>
            <table>
            <tbody>
            {{ form.as_table }}
            </tbody>
            </table>
        {% endwith %}{% endfor %}
        <h2>{% trans "Billing data" %}</h2>
        <table>
        <tbody>
            {{ billing_form.as_table }}
        </tbody>
        </table>
        <button class="button" type="submit">{% trans "Proceed" %}</button>
    </form>
    {% else %}
    <p>
    {% blocktrans %}
    Profound emptiness is gazing at you from the bottom of the cart. You turn back swiftly and
    <a href="/">continue shopping</a>.
    {% endblocktrans %}
    {% endif %}
</div>
</div>
<div class="grid_8 omega">
    {% include "satchless/checkout/snippets/order_preview.html" %}
</div>
{% endblock %}
