{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% load form_display %}
{% block title %}{{ block.super }} | {% trans "Delivery details" %}{% endblock %}

{% block body-class %}{{ block.super }} delivery-details{% endblock %}

{% block breadcrumbs %}
<li>
    <a href="{% url cart:details %}">1. {% trans "Cart" %}</a>
</li>
<li class="active">
    2. {% trans "Delivery" %}
</li>
<li class="payment">
    3. {% trans "Payment" %}
</li>
<li class="confirmation">
    <span>3. {% trans "Great success!" %}</span>
</li>
{% endblock %}

{% block content %}
<div class="grid_16 alpha">
    <div class="container">
        <h1>{% trans "Delivery details" %}</h1>
        <form method="post" action="">{% csrf_token %}
            {% for group, delivery_type, form in delivery_group_forms %}
            <h2>{% trans "Delivery method" %}: {{ delivery_type.name }}</h2>
            <h3>{% trans "Items deliverd using this method" %}:</h3>
            <ul>
            {% include 'satchless/checkout/snippets/delivery_group.html' %}
            </ul>
            <h3>{% trans "Delivery details" %}:</h3>
            <table>
                <tbody>
                    {{ form|form_as_table }}
                </tbody>
                <tfoot>
                    <tr>
                        <td><button class="button" type="submit">{% trans "Proceed" %}</button></td>
                    </tr>
                </tfoot>
            </table>
            {% endfor %}
        </form>
    </div>
</div>
<div class="grid_8 omega">
    {% include "satchless/checkout/snippets/order_preview.html" %}
</div>
{% endblock %}
