{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% load form_display %}
{% load order_tags %}
{% block title %}{{ block.super }} | {% trans "Delivery details" %}{% endblock %}

{% block body-class %}{{ block.super }} delivery-details{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="">{% trans "Order (business)" %}</a></li>
{% endblock %}
{% block content %}
    <div class="container_24">
        <div class="grid_16">
            <div class="container">
                <h1>{% trans "Delivery details" %}</h1>
                <form method="post" action="">{% csrf_token %}
                    {% for group, typ, form in delivery_groups_forms %}
                    <h2>{% trans "Delivery method" %}: {{ typ|delivery_type }}</h2>
                    <h3>{% trans "Items deliverd using this method" %}:</h3>
                    <ul>
                    {% include 'satchless/checkout/snippets/delivery_group.html' %}
                    </ul>
                    <h3>{% trans "Delivery details" %}:</h3>
                    <table>
                        <tbody>
                            {{ form|form_as_table }}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button type="submit">{% trans "Proceed" %}</button></td>
                            </tr>
                        </tfoot>
                    </table>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
