{% extends 'satchless/checkout/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<li>
    <a href="{% url cart:details %}">1. {% trans "Cart" %}</a>
</li>
<li class="active">
    2. {% trans "Delivery" %}
</li>
<li class="payment">
    3. {% trans "Payment" %}
</li>
<li class="confirmation">
    <span>3. {% trans "Great success!" %}</span>
</li>
{% endblock %}

{% block content %}
<div class="grid_16 alpha">
<div class="container">
    <h2>{% trans "Choose delivery method" %}:</h3>
    <form method="post" action="">{% csrf_token %}
        {{ delivery_method_formset.management_form }}
        {% for form in delivery_method_formset.forms %}{% with form.instance as group %}
          {% if order.groups.count > 1 %}
            <h3>{% trans "Delivery group" %}:</h3>
            <ul>
            {% include 'satchless/checkout/snippets/delivery_group.html' %}
            </ul>
          {% endif %}
            {{ form.as_p }}
        {% endwith %}{% endfor %}
        <button class="button" type="submit">{% trans "Proceed" %}</button>
    </form>
</div>
</div>
{% endblock %}
