{% extends 'satchless/checkout/base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Payment" %}{% endblock %}
{% block body-class %}{{ block.super }} payment-choice{% endblock %}
{% block breadcrumbs %}
<li>
    <a href="{% url cart:details %}">1. {% trans "Cart" %}</a>
</li>
<li>
    <a href="{% url checkout:checkout order.token %}">2. {% trans "Delivery" %}</a>
</li>
<li class="active">
    3. {% trans "Payment" %}
</li>
<li class="confirmation">
    <span>3. {% trans "Great success!" %}</span>
</li>
{% endblock %}

{% block content %}
<div class="grid_16 alpha">
<div class="container">
    <h1>{% trans "Choose payment method" %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ payment_form.as_p }}
        <button type="submit" class="button">{% trans "Proceed" %}</button>
    </form>
    {# {% include 'satchless/checkout/snippets/order_view.html' %} #}
</div>
</div>
<div class="grid_8 omega">
    {% include "satchless/checkout/snippets/order_preview.html" %}
</div>
{% endblock %}
