{% extends 'satchless/checkout/base.html' %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans "Payment failed" %}{% endblock %}
{% block body-class %}{{ block.super }} confirmation{% endblock %}

{% block content %}
<div class="grid_16 alpha">
    <div class="container main">
        <h1>{% blocktrans with name=order.billing_first_name %}<strong>Payment failed.</strong>{% endblocktrans %}</h1>

        <p>{% blocktrans %}Your payment provider rejected your payment.{% endblocktrans %}</p>
    </div>
</div>
<div class="grid_8 omega">
    {% include "satchless/checkout/snippets/order_preview.html" %}
</div>
{% endblock %}
