{% extends "sale/base.html" %}
{% load image_tags %}
{% load pagination_tags %}
{% load product_prices %}
{% load prices %}
{% load product_url %}
{% load sale_tags %}

{% block body-class %}{{ block.super }}{% endblock %}

{% block content %}
<div class="grid_4 alpha">
    <div class="sidebar">
        <ul class="categories">
    {% for cat in categories %}
            <li>
                <a class="{% if cat == category %}active{% endif %}" href="{{ cat|category_in_sale_url }}">{{ cat.name }}</a>
        {% if cat == path.0 %}
            {% with cat|subcategories_in_sale as subcategories %}
                <ul>
                {% for c in cat|subcategories_in_sale %}
                    <li><a class="{% if c == category %}active{% endif %}" href="{{ c|category_in_sale_url }}">{{ c.name }}</a></li>
                {% endfor %}
                </ul>
            {% endwith %}
        {% endif %}
            </li>
    {% endfor %}
        </ul>
    </div>
</div>

<div class="products grid_20 omega">
        {% autopaginate products 21 %}
        {% if products %}
    {% paginate %}
            {% for product in products %}
                {% with product.get_subtype_instance as product %}
                {% with product|product_in_category_url:category as product_url %}
    <div class="grid_5 {% cycle 'alpha' '' '' 'omega' %}">
        <div class="product">
            <a href="{{ product_url }}" class="product-photo"><img src="{{ product.main_image|at_size_with_fallback:'product-detail' }}" alt="{{ product.name }} image"/></a>
            <div class="description">
                <span class="manufacture">
                    {% if product.make %}
                    {{ product.make }}
                    {% endif %}
                </span>
                <h3>{{ product.name }}</h3>
                <div class="price">
                    {% product_price_range product as price_range %}
                    {% product_price_range product discount=0 as undiscounted_price_range %}
                    {% if price_range.min_price != undiscounted_price_range.max_price %}
                        <span class="strike">{% gross undiscounted_price_range.min_price %}</span>
                    {% endif %}
                    <span class="fullprice">{% gross price_range.min_price %}</span>
                </div>
            </div>
        </div>
    </div>
                {% endwith %}
                {% endwith %}
            {% endfor %}
    {% paginate %}
        {% else %}
        <div class="no-items">No products yet!</div>
        {% endif %}
    <div class="clear"></div>
</div>
<div class="clear"></div>
{% endblock %}
