{% extends 'satchless/product/base.html' %}
{% load i18n %}
{% block title %}{{ product.name }} | {{ block.super }}{% endblock %}
{% block meta-description %}{% if product.meta_description %}{{ product.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% for cat in path %}
    <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
    {% endfor %}
    <li>{{ product }}</li>
{% endblock %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <div class="productDescription">
        {{ product.description }}
    </div>
{% endblock %}
