{% extends 'satchless/product/base.html' %}
{% load i18n promote prices product_prices %}
{% block title %}{{ product.name }} | {{ block.super }}{% endblock %}
{% block meta-description %}{% if product.meta_description %}{{ product.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% for cat in path %}
    <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
    {% endfor %}
    <li>{{ product }}</li>
{% endblock %}
{% block content %}
    <h1>{{ product.name }}</h1>
    {% if product.description %}
    <div class="productDescription">
        {{ product.description }}
    </div>
    {% endif %}
    {% if product.variants.count %}
    <h2>{% trans "Variants" %}</h2>
    <ul>
        {% for variant in product.variants.all %}
            <li>
                <strong>{{ variant }}</strong>
                {% variant_price variant currency='BTC' as price %}{% if price %}
                price: {% gross price %}
                ({% net price %} net)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if product.cart_form %}
    <form method="post" action="">
        {% csrf_token %}
        {{ product.cart_form.as_p }}
        <button type="submit">{% trans "Add to cart" %}</button>
    </form>
    {% endif %}
{% endblock %}
