<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Satchless is an eCommerce framework built on top of Python and Django. It provides all necessary tools to build full-blown online shop." />
    <title>Satchless &mdash; eCommerce framework built with Python &amp; Django</title>
    <link rel="stylesheet" type="text/css" href="https://github.com/nathansmith/960-Grid-System/raw/master/code/css/960.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" />
</head>
<body>
<div class="container_16">
    <div id="header" class="grid_16">
        <div class="grid_3 alpha">
            <h1>Satchless</h1>
        </div>
        <div class="info grid_13 omega">
            <p class="is_what">Less is mo'</p>
            <p class="links">
                <a href="https://github.com/mirumee/satchless">Source Code</a> | 
                <a href="/static/doc/">Documentation</a>
            </p>
            <p class="founded">
                Founded by <a href="https://www.github.com/mirumee/">
                <img src="{{ MEDIA_URL }}img/mirumee-labs.png" alt="Mirumee Labs" /></a>
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="banner">
    <div class="container_16">
        <div class="grid_16">
            <div class="grid_10 alpha">
                <h2>eCommerce framework<br />built with Python &amp; Django</h2>
                <h3>For (real) prefectionists with (real) deadlines</h3>
                <h3>Beautiful &amp; flexible design</h3>
                <h3>Great documentation</h3>
                <h3>No livesettings<h3>
                <h3>Pony included</h3>
            </div>
            <div class="grid_6 omega">
                <img src="{{ MEDIA_URL }}img/chariot.png" alt="A fancy shopping cart" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="body" class="container_16">
    <div class="grid_8 text">
        <h2>Our goals</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
        </p>
        <h2>Satchless story</h2>
    </div>
    <div class="grid_4">
        <div class="download">
            <h2>Download</h2>
            <p class="license">opensource, <a href="#">BSD license</a></p>
            <a class="get_it" href="https://www.github.com/mirumee/satchless">Download source</a>
        </div>
    </div>
    <div class="grid_4 text">
        <h2>Weblog</h2>
    </div>
    <div class="clear"></div>
</div>
<div id="footer" class="container_16">
    <div class="grid_12">
        <p>
        <a href="http://mirumee.com/">
        <img src="{{ MEDIA_URL }}img/we-build.png" alt="Mirumee &mdash; We build webapps. Better." />
        </a>
        </p>
    </div>
    <div class="grid_4">
        <p class="founded">Founded by Mirumee Labs</p>
    </div>
    <div class="clear"></div>
</body>
</html>
