{% extends 'satchless/cart/base.html' %}
{% load i18n promote prices product_prices cart_prices %}
{% block title %}{% trans "My cart" %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="">{% trans "My cart" %}</a></li>
{% endblock %}
{% block content %}
    <h1>{% trans "My cart" %}</h1>
    {% csrf_token %}
    <table class="cart">
        <thead>
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans "Item" %}</th>
                <th>{% trans "Unit price" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Tax" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody>
    {% for form in cart_item_forms %}
        {% if form.quantity.errors %}
            <tr class="errors">
                <td></td>
                <td colspan="5">
                    {{ form.quantity.errors }}
                </td>
                <td></td>
            </tr>
        {% endif %}
            {% cartitem_unit_price form.instance as unit_price %}
            {% cartitem_price form.instance as item_price %}
            <tr class="item">
                <td rowspan="2">{{ forloop.counter }}</td>
                <td rowspan="2">{% promote form.instance.variant as variant %}
                    <a href="{{ variant.product.get_absolute_url }}">{{ variant }}</a>
                </td>
                <td class="numerical unitPrice">
                    {% gross unit_price %}
                </td>
                <td class="numerical quantity">
                    <form method="POST" action="">
                        {% csrf_token %}
                        &times; {{ form.quantity }}
                        <button type="submit">{% trans "Update" %}</button>
                    </form>
                </td>
                <td class="numerical itemPrice">
                    = {% gross item_price %}
                </td>
                <td class="numerical tax">
                    {% tax item_price %}
                </td>
                <td rowspan="2">
                    <form method="POST" action="{% url cart:remove-item form.instance.id %}">
                        {% csrf_token %}
                        <button type="submit">{% trans "Delete" %}</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="numerical unitPrice netPrice">
                    {% net unit_price %}
                </td>
                <td></td>
                <td class="numerical itemPrice netPrice">
                    {% net item_price %}
                </td>
                <td class="numerical taxName">
                    {% trans "Tax" %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            {% with cart_total=cart.get_total %}
            <tr class="total">
                <th colspan="4" rowspan="2">{% trans "Total" %}:</th>
                <td class="numerical">
                    {% gross cart_total %}
                </td>
                <td colspan="2" rowspan="2"></td>
            </tr>
            <tr>
                <td class="numerical netPrice">
                    {% net cart_total %}
                </td>
            </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
