{% extends 'satchless/product/base.html' %}
{% load i18n %}
{% block title %}{% trans "Products" %} | {{ block.super }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url satchless-category-list %}">{% trans "Products" %}</a></li>
{% endblock %}
{% block content %}
    <div id="subcategories">
        <ul>
            {% for cat in categories %}
            <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
