{% extends 'satchless/product/base.html' %}
{% load i18n product_url promote %}
{% block title %}{{ category }} | {{ block.super }}{% endblock %}
{% block meta-description %}{% if category.meta_description %}{{ category.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url satchless-category-list %}">{% trans "Products" %}</a></li>
    {% for cat in path %}
    <li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
    {% endfor %}
{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    {% if category.description %}
    <div class="categoryDescription">
        {{ category.description }}
    </div>
    {% endif %}
    {% if category.get_children %}
    <div id="subcategories">
        <h2>{% trans "Subcategories" %}</h2>
        <ul>
            {% for subcat in category.get_children %}
            <li><a href="{{ subcat.get_absolute_url }}">{{ subcat }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if category.products.count %}
    <div class="products">
        <h2>{% trans "Products" %}</h2>
        <ul>
            {% promote category.products.all as products %}
            {% for product in products %}
            <li><a href="{{ product|product_in_category_url:category }}">{{ product }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>{% trans "There are no products in this category." %}
    {% endif %}
{% endblock %}
