{% load i18n prices %}
{% load url from future %}
{% for group in order.groups.all %}
<table>
    <thead>
        {% if order.groups.count > 1 %}
        <tr>
            <th colspan="4">
            {% blocktrans %}Delivery group #{{ forloop.counter }}{% endblocktrans %}
            </th>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Item" %}</th>
            <th class="numerical">{% trans "Qty." %}</th>
            <th class="numerical">{% trans "Unit price" %}</th>
            <th class="numerical">{% trans "Price" %}</th>
        </tr>
    </thead>
    <tfoot>
        {% with group.get_delivery as variant %}
        <tr>
            <th>{% trans "Delivery" %}:</th>
            <td colspan="2">{{ variant.name }}</td>
            <td class="numerical">{% gross variant.get_total %}</td>
        </tr>
        {% endwith %}
        <tr>
            <th class="numerical" colspan="3">{% trans "Total" %}:</th>
            <td class="numerical">{% gross group.get_total %}</td>
        </tr>
    </tfoot>
    <tbody>
        {% for item in group.items.all %}
        {% with product=item.product_variant.get_subtype_instance.product %}
        <tr>
            <td>
                {% url 'product:details' product.slug product.pk as product_url %}
                {% if product_url %}
                <a href="{{ product_url }}">{{ item.product_name }}</a>
                {% else %}
                {{ item.product_name }}
                {% endif %}
            </td>
            <td class="numerical">{{ item.quantity }}</td>
            <td class="numerical"><span class="gross">{% gross item.get_price_per_item %}</span></td>
            <td class="numerical">{% gross item.get_total %}</td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<p>Total amount to pay: {% gross order.get_total %}</p>
{% if order.paymentvariant %}
<p>{% trans "Payment method" %}: {{ order.get_payment.name }}
{% endif %}
