{% load i18n prices %}
{% load url from future %}
{% for group in order.groups.all %}
<table>
    <thead>
        {% if order.groups.count > 1 %}
        <tr>
            <th colspan="4">
            {% blocktrans %}Delivery group #{{ forloop.counter }}{% endblocktrans %}
            </th>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Item" %}</th>
            <th class="numerical">{% trans "Qty." %}</th>
            <th class="numerical">{% trans "Unit price" %}</th>
            <th class="numerical">{% trans "Price" %}</th>
        </tr>
    </thead>
    <tfoot>
        {% if group.deliveryvariant %}{% with group.deliveryvariant.get_subtype_instance as variant %}
        <tr>
            <th>{% trans "Delivery" %}:</th>
            <td colspan="2">{{ variant }}</td>
            <td class="numerical">{{ variant.price|floatformat:2 }} <span class="currency">{{ order.currency }}</span></td>
        </tr>
        {% endwith %}{% endif %}
        <tr>
            <th class="numerical" colspan="3">{% trans "Total" %}:</th>
            <td class="numerical">{{ group.get_total|gross|floatformat:2 }} <span class="currency">{{ order.currency }}</span></td>
        </tr>
    </tfoot>
    <tbody>
        {% for item in group.items.all %}
        {% with item.product_variant.get_subtype_instance.product as product %}
        <tr>
            <td>
                {% url 'product:details' product.slug product.pk as product_url %}
                {% if product_url %}
                <a href="{{ product_url }}">{{ item.product_name }}</a>
                {% else %}
                {{ item.product_name }}
                {% endif %}
            </td>
            <td class="numerical">{{ item.quantity }}</td>
            <td class="numerical"><span class="gross">{{ item.unit_price_gross|floatformat:2 }} <span class="currency">{{ order.currency }}</span></span></td>
            <td class="numerical">{{ item.price|gross|floatformat:2 }} <span class="currency">{{ order.currency }}</span></td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<p>Total amount to pay: {{ order.get_total|gross|floatformat:2 }} <span class="currency">{{ order.currency }}</span></p>
{% if order.paymentvariant %}
<p>{% trans "Payment method" %}: {{ order.paymentvariant.get_subtype_instance }}
{% endif %}
